/* GLOBAL */
body {
  background-image: url("../img/playstation.png");
  background-attachment: fixed;
}

.navbar {
  border-bottom: 1px solid #e4e4e4 !important;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1) !important;
}


/* HOMEPAGE */
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.hero {
  background-image: url("../img/home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 35%;
  padding: 6rem 2rem;
}

@media (max-width: 768px) {
  .hero {
    text-align: center;
    background-image: url("../img/home.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 90%;
    padding: 6rem 2rem;
  }
}

.type-filter {
  padding: 1rem;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-bottom: 10px;
}

.type-filter-heading {
  font-weight: 600;
}

.card {
  margin-bottom: 10px;
}

.card-img {
  width: 70px;
  margin-right: 20px;
  margin-bottom: 50px;
}

.card-btn {
  margin-right: 10px; 
  font-size: .8rem;
}

.card-icon {
  padding-right: 5px;
}

.tv-img {
  background-color: #ffce54;
}

.movie-img {
  background-color: #6ebec4;
}

h1.display-3 {
  animation: 1s linear title-animation;
  position: relative;
}


/* ADD PAGE */
.add {
  margin-top: 80px;
}

.congrats {
  margin-bottom: 40px;
}

.add-success-nav {
  margin-top: 40px;
}

/* DASHBOARD PAGE */
.dash-header {
}

@keyframes card-animation {
  from {
    right: -80vw;
  }
  to {
    right: 0;
  }
}

@keyframes fadeInDown {
    from {
        opacity:0;
        -webkit-transform: translatey(-10px);
        -moz-transform: translatey(-10px);
        -o-transform: translatey(-10px);
        transform: translatey(-10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}
.in-down {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}



@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.animateFadeFromRight {
  animation: .5s linear card-animation;
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}


