{{> navbar isAuthenticated=isAuthenticated}}

<div class="jumbotron jumbotron-fluid hero">
  <div class="container text-center">
    <h1 class="display-3">Binge On.</h1>
    <p class="lead">Find some new content to kill some time.</p>
    <a href="/add" class="btn btn-warning">Add a Binge</a>
  </div>
</div>

<div class="container home-container">
  <div class="row">
    <div class="col-3">
      <p>Binge Type</p>
      <div class="nav flex-column nav-pills" id="bingeNav" role="tablist" aria-orientation="vertical">
        <a class="nav-link binge-nav active" id="All" data-toggle="pill" role="tab" aria-controls="all" aria-selected="true">All</a>
        <a class="nav-link binge-nav" id="Film" data-toggle="pill" role="tab" aria-controls="film" aria-selected="false">Film</a>
        <a class="nav-link binge-nav" id="Television" data-toggle="pill" role="tab" aria-controls="television" aria-selected="false">Television</a>
        <a class="nav-link binge-nav" id="Streaming" data-toggle="pill" role="tab" aria-controls="streaming" aria-selected="false">Streaming</a>
        <a class="nav-link binge-nav" id="Web" data-toggle="pill"ß role="tab" aria-controls="web" aria-selected="false">Web</a>
      </div>
    </div>
    <div class="col-9">

      <div id="bingeList">

      </div>

    </div>
  </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script src="./js/home.js"></script>
