{{> navbar isAuthenticated=isAuthenticated}}
<div class="jumbotron jumbotron-fluid" id="jumbotron1">
    <div class="container text-center">
        <h1 class="animated infinite bounce">Binge On.</h1>
        <p class="lead">Find some new content to kill some time.</p>
        <a href="/add" class="btn btn-warning">Add a Binge</a>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4" id="card2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link text-white" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Film</a>
                <a class="nav-link text-white" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Television</a>
                <a class="nav-link text-white" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Streaming</a>
                <a class="nav-link text-white" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Web</a>
            </div>
        </div>
        <div class="col-md-8">
            {{#each binges}}
            <div class="row p-3 mb-2 bg-dark text-white rounded animated fadeInRight my-card">
                <div class="col-md-3">
                    <img src={{img_url}} id="pic" class="img-fluid w-90 align-middle" />
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h4 class="card-title">{{title}}</h4>
                        <p class="card-text">{{short_desc}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
      <!--   <script>
            $.fn.extend({
                animateCss: function (animationName, callback) {
                    var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
                    this.addClass('animated ' + animationName).one(animationEnd, function() {
                        $(this).removeClass('animated ' + animationName);
                        if (callback) {
                          callback();
                        }
                    });
                    return this;
                }
            });
            
        </script> -->
    </div>
</div>
